* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #333;
  color: #fff;
}

header {
  padding: 10px;
  background-color: #222;
  border-bottom: 1px solid #444;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

header h1 {
  font-size: 30px;
  margin: 10px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  header {
    padding: 5px;
  }

  header h1 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }
}

form {
  margin-top: 20px;
}

main {
  flex: 1 0 auto;
}

footer {
  padding: 10px;
  background-color: #222;
  border-top: 1px solid #444;
  margin-top: auto;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

#board-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#board-size {
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

#generate-board {
  background-color: #007bff;
  color: #fff;
}

#button-random-color {
  background-color: #007bff;
  color: #fff;
}

#clear-board {
  background-color: #f00;
  color: #fff;
}

#pixel-board {
  display: grid;
  margin: 0 auto;
  padding: 0;
  margin-top: 10px;
  grid-template-columns: repeat(5, 40px);
  grid-auto-rows: repeat(40px);
  justify-content: center;
  align-items: center;
  height: auto;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.1s;
}

.pixel:hover {
  background-color: black;
}
